<ul id="mainnav">
    <li><a href="/post/">
            <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
            <span>技术</span>
        </a>
    </li>
    <li><a href="/essay/">
            <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
            <span>随笔</span>
         </a>
    </li>
        <li><a href="/other/">
            <span class="icon"><i aria-hidden="true" class="icon-leaf"></i></span>
            <span>其他</span>
        </a>
    </li>
    <li><a href="/about">
            <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
            <span>关于</span>
        </a>
    </li>
</ul>
