{{ partial "header.html" . }}

<body lang="en" itemscope itemtype="http://schema.org/Article">
    {{ partial "subheader.html" . }} {{ $baseurl := .Site.BaseURL }}
    <section id="main">
        <h2 itemprop="name" id="title" style="text-align: left;">{{ .Title }}</h2>
        <div>
            <header>
                <div class="post-meta" style="line-height: 5em;">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
            </header>
            <article itemprop="articleBody" id="content">
                {{ .Content }}
                <br />
                <hr style="height:2px;border:none;border-top:1px dashed #0066CC;" />
            </article>

        </div>
    </section>
    {{ partial "meta_aside.html" . }} {{ partial "disqus.html" . }} {{ partial "footer.html" . }}
