<ul id="mainnav">
    <li><a href="/">
            <span class="icon"><i aria-hidden="true" class="icon-home"></i></span>
            <span>首页</span>
        </a>
    </li>
    <li><a href="/post/">
            <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
            <span>技术</span>
        </a>
    </li>
    <li><a href="/daily/">
            <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
            <span>日常</span>
         </a>
    </li>
    <li><a href="/about">
            <span class="icon"> <i aria-hidden="true" class="icon-info"></i></span>
            <span>关于</span>
        </a>
    </li>
</ul>
