<article class="post-expand post" itemprop="articleBody">
    <header class="article-info clearfix">
        <h1 itemprop="name">
    <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="url">{{ .Title }}</a>
    </h1>
        <p class="article-time">
            {{ .Date.Format .Site.Params.DateForm }} · {{ .FuzzyWordCount }} Words
        </p>
    </header>
    <div class="article-content">
        {{ .Summary }}
        <p class="article-more-link">
            <a href="{{ .Permalink }}">阅读全文</a>
        </p>
    </div>
    <footer class="article-footer clearfix">
            <!-- {{ partial "topics.html" .}} -->
            {{ partial "tags.html" .}}
    </footer>
</article>
