<header>
    <a href="/" class="logo-link"><img src="/favicon.png" alt="logo"></a>
    <ul class="nav nav-list">
        <li class="nav-list-item"><a href="/" target="_self" class="nav-list-link">BLOG</a></li>
        <li class="nav-list-item"><a href="/post/" target="_self" class="nav-list-link">TIMELINE</a></li>
        <li class="nav-list-item"><a href="/about" target="_self" class="nav-list-link">ABOUT</a></li>
        <li class="nav-list-item"><a href="/atom.xml" target="_self" class="nav-list-link">RSS</a></li>
    </ul>
</header>
